body {
  background-color: antiquewhite;
  color: black;
  font-family: Arial;
}

nav {
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav,
footer {
  background-color: black;
  color: antiquewhite;
}

nav > a,
footer > p > a {
  color: antiquewhite;
}

nav > a {
  margin: 0.5rem;
}

footer {
  padding: 2vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer > p {
  font-size: 16px;
}

section {
  min-height: 80vh;
  padding: 0 1rem;
}

h1 {
  text-align: center;
}

p,
li,
span {
  font-size: 18px;
}

a:hover,
a:focus {
  outline: 2px dotted;
}

.hero {
  background-image: url("hands.jpg");
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-headline {
  font-size: 50px;
  padding: 1rem;
  background-color: antiquewhite;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: black;
}

.hero-subline {
  font-size: 30px;
}

.hero-caption {
  position: absolute;
  bottom: 0;
  margin: 1rem;
  color: antiquewhite;
}

.method,
.resources {
  background-color: khaki;
}

.staff {
  background-color: lightblue;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.column {
  flex-direction: column;
}

li {
  padding: 1rem;
}

.staff-img {
  padding: 1rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.paypal {
  border-radius: 0.5rem;
  background-color: khaki;
  height: 200px;
  width: 200px;
}

.paypal-link {
  width: 100%;
  height: 100%;
  background-image: url("paypal.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (max-width: 768px) {
  .staff-wrapper {
    flex-direction: column;
  }
  .staff-name {
    text-align: center;
  }
}
